<!DOCTYPE html>
<html>
<head>
<title> Angular Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>
<div ng-app="calc" ng-controller="cont">
Rate of return: <input ng-model="rate">
Number of periods: <input ng-model="periods">
Total return:<h1>{{ Math.pow( (1 + rate), periods) - 1}}</h1> 

</div>





<script>
	var calApp = angular.module("calc", []);
	calApp.controller("cont", function($scope){
		$scope.rate = .07;
		$scope.periods = 1;
		
	});
</script>



</body>
</html>
