<!DOCTYPE html>
<html>
<head>
<title> Angular Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>
<div ng-app="calc" ng-controller="cont">
Rate of return: <input ng-model="rate">
Number of periods: <input ng-model="periods">
Invested: <input ng-model="invested">
<button ng-click="totalR()">Compute</button>
<h1>Total rate of return: {{ totalRate }}</h1> 
<h1>Total  return: {{ totalMoney }}</h1> 

</div>






<script>
	var calApp = angular.module("calc", []);
	calApp.controller("cont", function($scope){
		$scope.rate = .07;
		$scope.periods = 1;
		$scope.totalRate = 0;
		$scope.totalR = function(){
			$scope.totalRate = Math.pow(1 + $scope.rate, $scope.periods) -  1;
			$scope.totalRate = rounder($scope.totalRate, 4);
			$scope.totalMoney = rounder( ( 1+ $scope.totalRate) * $scope.invested, 4 );
			
		}
		
	});
	
	function rounder(a,b){
	
		var tenPow = Math.pow(10, b);
		return Math.round(a * tenPow ) / tenPow;
	}
	
</script>



</body>
</html>
