<!DOCTYPE html>
<html>
<head>
<title> Sexagesimal  Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>




</head>
<body>
<div ng-app="calc" ng-controller="cont">
First Decimal Number: <input ng-model="first">
or
First Sexagesimal Number: <input ng-model="firstS">

<br>
<br>


Second Decimal Number: <input ng-model="sec">
or
Second Sexagesimal Number: <input ng-model="secS">
<br>
<br>
Base 10:
<button ng-click="add(first,sec)">Add</button>
<button ng-click="sub(first,sec)">Subtract</button>
<button ng-click="mult(first,sec)">Multiply</button>
<button ng-click="div(first,sec)">Divide</button>
<button ng-click="pow(first,sec)">To the power of</button>
<button ng-click="per(first,sec)">Percent of</button>
<button ng-click="abso(first,sec)">Absolute Diff</button>

<br>
<br>
Base 60:
<button ng-click="add(firstS,secS)">Add</button>
<button ng-click="sub(firstS,secS)">Subtract</button>
<button ng-click="mult(firstS,secS)">Multiply</button>
<button ng-click="div(firstS,secS)">Divide</button>
<button ng-click="pow(firstS,secS)">To the power of</button>
<button ng-click="per(firstS,secS)">Percent of</button>
<button ng-click="abso(firstS,secS)">Absolute Diff</button>
<button ng-click="clearFields()">Clear Fields</button>

<br>
<br>

Output: {{output}}
<br>
<br>
Output: {{outputS}}

<br>
<br>
Messages:{{message}}

<br>
<br>
Conversion from base 60 to base 10 test:{{trans(outputS)}}



</div>






<script>
	var calApp = angular.module("calc", []);
	calApp.controller("cont", function($scope){
	
		 $scope.output = 0;
		 $scope.outputS = [];  //<= Sexagesimal output
		 $scope.message = "";
		 var arr = [];
		 
		 
		 
		 //func -2
		 $scope.clear = function(){
			$scope.message = "";
			$scope.output = "";
			$scope.outputS = [];
			
		 }
		 
		 //func -1
		 $scope.clearFields = function(){
			$scope.clear();
			
			$scope.first = "";
			$scope.firstS = "";
			$scope.sec = "";
			$scope.secS = "";
			
			
		 }
		 
		
		 
		 //func0
		 $scope.test = function(){
			if ( ($scope.firstS) && ($scope.secS) ){
				return 2;
			} else if ( ($scope.first) && ($scope.sec) ){
				return 1;
			} else {
				return 0;
			}
		 }
		 
		 //func1
		 //todo test function below
		 $scope.trans = function(a){
			var hash = a.indexOf("#");
			
			var intx = a.slice(0,hash);  //todo fix this, split removed since it is not a method of result
			var decx = a.slice(hash + 1); 

			var inty= intx.split(",");  //todo find a way to get this to work
			var idecy= decx.split(",");
			
			var outInt = b60.int2Base10(inty);
			var outDec = b60.frac2Base10(decy);
			
			return outInt + outDec;
			
		 }
		 
		 //func2
		 $scope.autoCon = function(a){
		 
		 
			var tst = false;
			
			if (a !== undefined){
				tst = a.hasOwnProperty("includes");
			} else {
				return 0;
			}
			
			
			if (tst === true){
				return $scope.trans(a);
			} else {
				return a;
			}
		 }
		 
		 //func3
		 $scope.base60tst = function(a){
			if (a < 0 || a > 59){
				return false;
			}
			
			var tst = b60.split10(a);
			
			if (tst > 0){
				return false;
			}
			
			return true;
		 }
		 
		 //func4
		 $scope.floater = function(a,b){
		 
			if (a === ""){
				a = 0;
			}
			
			if (b === ""){
				b = 0;
			} 
			
			return [parseFloat(a), parseFloat(b)];
		 }
		 
		 //func5
		 $scope.add = function(a,b){
		 
			$scope.clear();  //<= Clear output 
			
			var aa = $scope.autoCon(a);
			var bb = $scope.autoCon(b);
			
			var arr = $scope.floater(aa,bb);
			
		
			$scope.output =  arr[0] + arr[1];
			$scope.outputS =  b60.conv($scope.output);
		 }
		 
		 //func6
		 $scope.sub = function(a,b){
		 
			$scope.clear();  //<= Clear output 
			
			var aa = $scope.autoCon(a);
			var bb = $scope.autoCon(b);
			
			var arr = $scope.floater(aa,bb);
			
			$scope.output = arr[0] - arr[1];
			
			if ($scope.output >= 0){
				$scope.outputS =  b60.conv($scope.output);
			} else {
				$scope.outputS =  b60.conv( Math.abs($scope.output) ); //<= todo fix this so it displays minus values correctly
				$scope.outputS.unshift("-");
			}
		}
		
		//func7
		$scope.mult = function(a,b){
			
			$scope.clear();  //<= Clear output 
			
			var aa = $scope.autoCon(a);
			var bb = $scope.autoCon(b);
			
			var arr = $scope.floater(aa,bb);
			
			$scope.output = arr[0] * arr[1];
			$scope.outputS =  b60.conv($scope.output);
		}
		
		//func8
		$scope.div = function(a,b){
			
			$scope.clear();  //<= Clear output  
			
			var aa = $scope.autoCon(a);
			var bb = $scope.autoCon(b);
			
			var arr = $scope.floater(aa,bb);
			
			if (arr[1] === 0){
				$scope.message = "Not Allowed: Division by zero";
			}
			
			$scope.output = arr[0] / arr[1];
			$scope.outputS =  b60.conv($scope.output);
		}
		
		//func9
		$scope.pow = function(a,b){
			
			$scope.clear();  //<= Clear output 
			
			var aa = $scope.autoCon(a);
			var bb = $scope.autoCon(b);
			
			var arr = $scope.floater(aa,bb);
			
			$scope.output = Math.pow(arr[0],arr[1]);
			$scope.outputS =  b60.conv($scope.output);
		}
		
		//func10
		$scope.per = function(a,b){
			
			$scope.clear();  //<= Clear output 
			
			var aa = $scope.autoCon(a);
			var bb = $scope.autoCon(b);
			
			var arr = $scope.floater(aa,bb);
			
			$scope.output = (arr[0] * arr[1])/100;
			$scope.outputS =  b60.conv($scope.output);
		}
		
		//func11
		$scope.abso = function(a,b){
			
			$scope.clear();  //<= Clear output 
			
			if (a > b){
				$scope.sub(a,b);
			} else {
				$scope.sub(b,a);
			}
		
			
		}
		
			//obj0
			b60 = {
				
					split10: function(a){
						var ints = Math.floor(a);
						var dec = a - ints;
						
						return [ints, dec];
					},
					
					conv: function(a){
						var out = [];
						var limit = 20;
						
						var b = b60.split10(a);
						var c = b[1];
						
						while (  a > 0){
							out.unshift( Math.floor(a) % 60 );
							 a /= 60;
							 a = Math.floor(a);	
							 
						}
						
						
							out.push("#");
						
						
						for (var i = 0; i < 10; i++){
							c *= 60;
							out.push(Math.floor(c) % 60);
						}
						
						return out;
					
					},
					
					
					int2Base10: function(arr){
						var len = arr.length;
						var total = 0;
						
						
						for (var i = 1; i <= len; i++){
							total += parseInt(arr[len - i]) * Math.pow(60,i);
						}
						
						return total;
					},
					
					frac2Base10: function(arr){
						var len = arr.length;
						var total = 0;
						
						
						for (var i = 1; i <= len; i++){
							total += parseInt(arr[i - 1]) * Math.pow(60,i * -1);
						}
						
						return total;
					}
					
					
				};
				
					//func12
					 function split60(){
						var f = $scope.firstS.split("#");
						var f1 = f[0].split(",") ;
						var f2 = f[1].split(",") ;
						
						var s = $scope.secS.split("#");
						var s1 = s[0].split(",");
						var s2 = s[1].split(",");
						
						return [f1,f2,s1,s2];
						
					 }
					 
					 
					 
					
					
					
					}
					
				);
	
	function rounder(a,b){
	
		var tenPow = Math.pow(10, b);
		return Math.round(a * tenPow ) / tenPow;
	}
	
	
	
	
	
	
</script>



</body>
</html>
