<!DOCTYPE html>
<html>
<head>
<title> Sexagesimal  Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>




</head>
<body>
<div ng-app="calc" ng-controller="cont">
First Decimal Number: <input ng-model="first">
or
First Sexagesimal Number: <input ng-model="firstS">

<br>
<br>

<button ng-click="add(first,sec)">Add</button>
<button ng-click="sub(first,sec)">Subtract</button>
<button ng-click="mult(first,sec)">Multiply</button>
<button ng-click="div(first,sec)">Divide</button>
<button ng-click="pow(first,sec)">To the power of</button>
<button ng-click="per(first,sec)">Percent of</button>

<br>
<br>

Second Decimal Number: <input ng-model="sec">
or
Second Sexagesimal Number: <input ng-model="secS">
<br>
<br>
Output: {{output}}
<br>
<br>
Output: {{outputS}}



</div>






<script>
	var calApp = angular.module("calc", []);
	calApp.controller("cont", function($scope){
	
		 $scope.output = 0;
		 $scope.outputS = [];  //<= Sexagesimal output
		 var arr = [];
		 
		 
		 $scope.floater = function(a,b){
			return [parseFloat(a), parseFloat(b)];
		 }
		 
		 $scope.add = function(a,b){
			arr = $scope.floater(a,b);
			$scope.output =  arr[0] + arr[1];
			$scope.outputS =  b60.conv($scope.output);
		 }
		 
		 $scope.sub = function(a,b){
			arr = $scope.floater(a,b);
			$scope.output = arr[0] - arr[1];
			$scope.outputS =  b60.conv($scope.output);
		}
		
		$scope.mult = function(a,b){
			arr = $scope.floater(a,b);
			$scope.output = arr[0] * arr[1];
			$scope.outputS =  b60.conv($scope.output);
		}
		
		$scope.div = function(a,b){
			arr = $scope.floater(a,b);
			$scope.output = arr[0] / arr[1];
			$scope.outputS =  b60.conv($scope.output);
		}
		
		$scope.pow = function(a,b){
			arr = $scope.floater(a,b);
			$scope.output = Math.pow(arr[0],arr[1]);
			$scope.outputS =  b60.conv($scope.output);
		}
		
		$scope.per = function(a,b){
			arr = $scope.floater(a,b);
			$scope.output = (arr[0] * arr[1])/100;
			$scope.outputS =  b60.conv($scope.output);
		}
		
		
			b60 = {
				
					split10: function(a){
						var ints = Math.floor(a);
						var dec = a - ints;
						
						return [ints, dec];
					},
					
					conv: function(a){
						var out = [];
						
						var b = b60.split10(a);
						var c = b[1];
						
						while ( a > 0){
							out.unshift( Math.floor(a) % 60 );
							 a /= 60;
							 a = Math.floor(a);	
						}
						
						
							out.push("#");
						
						
						for (var i = 0; i < 10; i++){
							c *= 60;
							out.push(Math.floor(c) % 60);
						}
						
						return out;
					
					},
					
					int2Base10: function(arr){
						var len = arr.length;
						var total = 0;
						
						
						for (var i = 0; i < len; i++){
							
						}
						
					}
					
					
				};
					 function split60(){
						var f = $scope.firstS.split("#");
						var f1 = f[0].split(",") ;
						var f2 = f[1].split(",") ;
						
						var s = $scope.secS.split("#");
						var s1 = s[0].split(",");
						var s2 = s[1].split(",");
						
						return [f1,f2,s1,s2];
						
					 }
					 
					 
					 
					
					
					
					}
					
				);
	
	function rounder(a,b){
	
		var tenPow = Math.pow(10, b);
		return Math.round(a * tenPow ) / tenPow;
	}
	
	
	
	
	
	
</script>



</body>
</html>
