<!DOCTYPE html>
<html>
<head>
<title>Statistical Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">

<style>
	button{
		height: 3em;
		width: 4em;
		
	}
</style>


</head>
<body>

<div class="w3-card-4 " style="width:25%" ng-app="stat" ng-controller="statCon" >

	<header class="w3-container w3-blue">
		<h1>Stat Calc</h1>
	</header>
	
	<div class="w3-container w3-border">
		<p id="input" class="w3-right-align w3-border-bottom">{{list}}</p>
		<p id="counter" class="w3-left-align"><sup>Count={{count}}:M={{m}}</sup></p>
		
		<p id="output" class="w3-right-align"  >{{output}}</p>
	</div>
	
	<footer class="w3-container w3-blue">
		<div class="w3-bar">
			<button class="w3-bar-item  w3-btn w3-black w3-border w3-cell" ng-click="mc()">MC</button>
			<button class="w3-bar-item  w3-btn w3-black w3-border w3-cell" ng-click="mr()">MR</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="ms()">MS</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="mem(1)">M+</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="mem(-1)">M-</button>
		</div>
		
		<div class="w3-bar">
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="shrink()"><</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="clearAll()">CAD</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="clear()">C</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">F-E</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">Exp</button>
		</div>
		
		<div class="w3-bar">
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(7)">7</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(8)">8</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(9)">9</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="ave()"><div class="w3-border-top">x</div></button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell"><div class="w3-border-top">x<sup>2</sup></div></button>
		</div>
		
		<div class="w3-bar">
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(4)">4</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(5)">5</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(6)">6</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">&Sigma;x</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">&Sigma;x<sup>2</sup></button>
		</div>
		
		<div class="w3-bar">
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(1)">1</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(2)">2</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(3)">3</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">&sigma;<sub>n</sub></button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">&sigma;<sub>n-1</sub></button>
		</div>
		
		<div class="w3-bar">
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="digit(0)">&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell">.</button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="plusMinus()"><div class="w3-border-bottom">+</div></button>
			<button class="w3-bar-item w3-btn w3-black w3-border w3-cell" ng-click="add()">Add</button>
		</div>
	</footer>
</div>

<script>
	var statApp = angular.module("stat",[]);
	statApp.controller("statCon", function($scope){
		$scope.output = 0;
		$scope.count = 0;
		$scope.list = [];
		$scope.m = 0;
		
		
		//todo change below so it can work with floats 
		$scope.digit = function(num){
			
			if ($scope.output === 0){
				$scope.output = num;
			} else {
				$scope.output *= 10;
				$scope.output += num;
			}
		}
		
		$scope.clear = function(){
			$scope.output = 0;
		}
		
		$scope.clearAll = function(){
			$scope.clear();
			
			$scope.count = 0;
			$scope.list = [];
		}
		
		$scope.plusMinus = function(){
			$scope.output *= -1;
		}
		
		$scope.shrink = function(){
			$scope.output = Math.floor($scope.output/10);
		}
		
		$scope.add = function(){
			$scope.list.push($scope.output); 
			$scope.clear();
			$scope.count++;
		}
		
		$scope.mem = function(sign){
			$scope.m += $scope.output * sign;
		}
		
		$scope.ms = function(){
			$scope.m = $scope.output;
		}
		
		$scope.mc = function(){
			$scope.m = 0;
		}
		
		$scope.mr = function(){
			$scope.output = $scope.m;
		}
		
		$scope.sum = function(arr){
		
			var sum = 0;
			
			arr.forEach(function(cur){
				sum += cur;
			});
			
			return sum;
		}
		
		$scope.ave = function(){
			$scope.output = $scope.sum($scope.list) / $scope.list.length;
		}
		
		
		
	});
</script>


</body>
</html>
